
*{font-family: 'Kratos TrueType - GOD $ WAR','arial';color:#561302;} 
#bg{position: fixed;width: 100%;height: 100%;	
	background:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.8)),url('sources\\bg-2.jpg');
	background-size: cover; 
	z-index: -2;}

#top,#down,#left,#right{display: block;position: fixed;z-index: 3;padding:0px;margin: 0px;}
#top{
	top: 0px;
	width: 100%;
	height: 10%;
}
#down{
	bottom: 0%;
	width: 100%;
	height: 25%;
}
#left{
	left: 0%;
	top: 0px;
	width: auto;
	height: 100%;
}
#right{
	right: 0%;
	width:auto;
	height: 100%;
}


.header{
		-webkit-clip-path: polygon(100% 0, 100% 36%, 43% 7%, 0 20%, 0 0);
		clip-path: polygon(100% 0, 100% 36%, 43% 7%, 0 20%, 0 0);
		background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,1)),url('sources\\head.jpg');
		background-repeat: no-repeat;
		background-size: contain;
		height: 95%;
		width: 100%;
		position: absolute;
		z-index: 2;
}
.header img{display: inline-block;margin-top: 7%;margin-left: 10%;}
.header ul{
	float: right;
}
.menu{margin-top: 5%;}
.header ul li{
	float: left;
	padding: 10px 20px;
	border-radius: 15px;
	list-style-type: none;
}
.header ul li a{
	font-family: 'Kratos TrueType - GOD $ WAR','arial';
	font-size:1.2em;
	color:#ffe9d9;
	padding: 10px 20px;
	border-radius: 15px;
}
.header ul li a:hover{
	background-color: #561302;
	color:white;
	text-decoration: none;
}
.intro{padding: 10% 0px;font-size: 1.3em;}
.intro p{color:white;line-height: 2em;}
.story{background-color: #0E0E0E;padding:10px;}
fieldset{
	border:2px ridge grey;
	background-color: #0E0E0E;
}
.carousel p{
	font-size: 1.5em;
	color:#d84141;
}
.carousel h2{color: #bb0808;}


@media (max-width: 980px){
	.header{
		-webkit-clip-path:none;
		background-image:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.8)), url('sources\\head.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		height: 15%;
		width: 100%;
		position: absolute;
		z-index: 2;
		outline: 1px solid white;

}
	.intro{padding: 10% 0px;font-size: 1.1em;}
	.intro p{color:white;line-height: 1.7em;}
    #myslide p{display: none;}

}

@media (min-width: 576px and max-width: 980px){
	#top,#left,#down,#right{display: none;}
	.intro{margin-top:20%;outline: 1px solid white;z-index: 5;}
}
